{% load filtr_recipes %}
<div class="card single-card" data-id="{{recipe.id}}" data-author="{{recipe.author.id}}">
    {% load thumbnail %}
    {% thumbnail recipe.image "364x240" crop="center" upscale=True as im %}
    <a href="/recipes/{{recipe.author.id}}/{{recipe.id}}" class="link" target="_blank"><img src="{{ im.url }}"
            alt="{{recipe.title}}" class="card__image"></a>
    {% endthumbnail %}

    <div class="card__body">
        <a class="card__title link" href="/recipes/{{recipe.author.id}}/{{recipe.id}}"
            target="_blank">{{recipe.title}}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
            <li class="card__item"><span class="badge badge_style_{{tag.style}}">{{tag.title}}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="/recipes/{{recipe.author.id}}"
                    style="color: black">
                    {% if recipe.author.first_name != '' or recipe.author.last_name != '' %}
                    {{ recipe.author.first_name }} {{ recipe.author.last_name }}
                    {% else %}
                    {{ recipe.author }}
                    {% endif %}
                </a></p>
        </div>
        {% if user == recipe.author %}
        <ul class="card__items">
            <li class="card__item"><a href="{% url 'recipe_delete' id=recipe.id %}"><span class="card__text"
                        style="color:red">Удалить</span></a></li>
            <li class="card__item"></li><a style="margin-left: 2.5em" href="{% url 'recipe_edit' recipe.id%}"
                class="single-card__text"><span class="card__text">Редактировать</span></a></li>
        </ul>
        {% endif %}
    </div>

    <div class="card__footer">
        {% if user.is_authenticated %}
        {% if request|is_shoplist:recipe.id %}
        <button class="button button_style_light-blue-outline" name="purchases"><span
                class="icon-check button__icon"></span> Рецепт добавлен</button>
        {% else %}
        <button class="button button_style_light-blue" name="purchases" data-out><span
                class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% endif %}
        {% endif %}
    </div>

</div>