{% load filtr_recipes %}
<header class="header">
<nav class="nav">
    <div class="nav__container container">
        {% if user.is_authenticated %}
        <ul class="nav__items list">
            <li class="nav__item {% if home %} nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
            <li class="nav__item {% if follow %} nav__item_active {% endif %}"><a href="{% url 'follow' %}" class="nav__link link">Мои подписки</a></li>
            <li class="nav__item {% if new %} nav__item_active {% endif %}"><a href="{% url 'recipe_new' %}" class="nav__link link">Создать рецепт</a></li>
            <li class="nav__item {% if favorites %} nav__item_active {% endif %}"><a href="{% url 'favorites' %}" class="nav__link link">Избранное</a></li>
            <li class="nav__item {% if purchases %} nav__item_active {% endif %}"><a href="{% url 'purchases' %}" class="nav__link link">Список покупок</a> 
                <span class="badge badge_style_blue nav__badge" id="counter">{{ request|count_shoplist }}</span></li>
        </ul>
        <ul class="nav__items list">
            <li class="nav__item {% if profile %} nav__item_active {% endif %}"><a href="{% url 'EditProfile' %}" class="nav__link link">Профиль</a></li>
            <li class="nav__item {% if password_change %} nav__item_active {% endif %}"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
            <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
        </ul>
        {% else %}
        <ul class="nav__items list">
            <li class="nav__item {% if home %} nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>            
        </ul>
        <ul class="nav__items list">
            <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
            <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
        </ul>
        {% endif%}
    </div>
</nav>
</header>