<!doctype html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Рецепты {% endblock %} | {{ setting_site.name }}</title>
    <meta name="keywords" content="{% block keywords %} {% endblock %}">
    <meta name="description" content="{% block description %}  {% endblock %}">
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    {% block static %} 
    
    {% endblock %}
</head>

<body class="body">
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer__container container">
            <a href="{% url 'index' %}" class="footer__brand link">{{ setting_site.name }}</a>
            {% if setting_site.social_vk != '' %}
            <a href="{{ setting_site.social_vk }}" class="footer__brand link">Я вКонтакте</a>
            {% endif %}
            <ul class="footer__items">
                <li class="footer__item"><a href="{% url 'author' %}" class="footer__link link">Об авторе </a></li>
                <li class="footer__item"><a href="{% url 'technology' %}" class="footer__link link">Технологии</a></li>
            </ul>
        </div>
    </footer>
    {% block java-script %}
     
    {% endblock %}    
    
</body>

</html>