{% extends "base.html" %}
{% block title %}Мои подписки{% endblock %}

{% block static %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock static %}

{% block content %}
{% include 'nav/nav.html' with follow=True %}
{% csrf_token %}

<main class="main container">
    
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        
    {% for follow in page %}
        {% include "item/follow_item.html" with follow=follow %}
    {% endfor %}

    </div>

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator%}
    {% endif %}

</main>

{% endblock content %}

{% block java-script %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/pages/myFollow.js' %}"></script>
{% endblock java-script %}
